<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'substitution_cipher/index.css' %}">
</head>
<body>
    <h2>암호문</h2> <input class="textarea" type="text" name="ciphertext" value="{{ cryptogram }}" readonly> <br>
    <h2>복호문</h2> <input class="textarea" type="text" name="decrypttext" value="{{ decryption }}" readonly> <br>

    <table class="result">
            {% for key in key_list %}
                <tr>
                    {% for w in key %}
                    <td>{{ w }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
    </table>

    <table>
        <tr>
            {% for word in word_list %}
                {% for w in word %}
                    <td>{{ w }}</td>
                {% endfor %}
            {% endfor %}
        </tr>
    </table>

</body>
</html>