body{
    background-color: lightgray;
}



h2{
    float:left;
}


.textarea{
    width: 500px;
    height: 30px;
    display: block;
    background-color: white;
    border: 2px solid;
    border-radius: 25px;
    -moz-border-radius: 25px;
    padding: 10px;
}
